<div id="<%= dom_id printed %>">
  <p>
    <strong>Itemcode:</strong>
    <%= printed.ItemCode %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= printed.Batch %>
  </p>

  <p>
    <strong>Xmlexported:</strong>
    <%= printed.XMLExported %>
  </p>

</div>
